<div id="multipleimages">
<% for collection in @collections %>
	<div class="thumb">
		<h3><%= link_to collection.title, collection %></h3>
		<%= link_to (image_tag collection.albums.find(:first).photos.first.file.collection.url ), collection_path(collection) unless collection.albums.empty? || collection.albums.find(:first).photos.empty? %>
	</div>
<% end %>
</div>

<%= content_for :action_links do %>
<% if has_role?("admin") %>
<%= link_to "New collection", new_collection_path %>
<% end %>
<% end %>