<h2>Collections</h2>
<div id="multipleimages">
<% for collection in @collections %>
	<div class="thumb">
		<h3><%= link_to collection.title, collection %></h3>
		<%= render :partial => collection.albums.find(:first) %>
	</div>
<% end %>
</div>